# APP Env
ALLOWED_ORIGINS=*
ENVIRONMENT=development
BOT_TOKEN=YOUR_BOT_TOKEN

# JWT Env
JWT_SECRET=YOUR_JWT_SECRET

# Postgres Env
POSTGRES_HOST=POSTGRES_HOST
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DATABASE_NAME